/*Indivial Bands Scrollbar*/
.bands-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  .scroll-container {
    display: inline-block;
  }
}
/*Webkit for animations*/
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}