/*Button Container*/
.filter-btn {
  display: flex;
}
/*Indivial Band Overlay*/
.filter-btn button {
  @include btn-rules;
  background-color: hsl(194, 86%, 64%);
  flex-wrap: nowrap;
  font-family: $primary;
  font-size: 18px;
  margin-right: 20px;
  width: 70px;
  &:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1210px) {
  .filter-btn button {
    height: 40px;
    width: 100px;
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 540px) {
  .filter-btn button {
    margin-right: 30px;
    width: 80px;
    &:last-child {
      margin-right: 0;
    }
  }
}