.filter-btn {
  display: flex;
}

.filter-btn button {
  @include btn-rules;
  background-color: hsl(194, 86%, 64%);
  flex-wrap: nowrap;
  margin-right: 20px;
  width: 70px;
  &:last-child {
    margin-right: 0;
  }
}