.genre-container {
  margin: 0 40px;
}

.genre-title-container {
  font-family: $primary;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.characteristics-container {
  display: flex;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  align-items: center;
  flex-wrap: wrap;
}

.characteristic {
  font-size: 14px;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}