@import 'SassMixins';

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 40px;
}

.header-title {
  font-family: $primary;
  font-size: 4rem;
  margin-bottom: 50px;
}