@import 'SassMixins';

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 40px;
}

.header-title {
  color: $pink-purple;
  font-family: $primary;
  font-size: 80px;
  margin-top: 15px;
  margin-bottom: 0;
}

.sub-head {
  font-family: $primary;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 1060px) {
  .sub-head {
    font-size: 22px;
  }
}

@media screen and (max-width: 540px) {
  .header-title {
    font-size: 50px;
    margin-top: 5px;
  }

  .sub-head {
    font-size: 18px;
    margin-bottom: 0;
  }
}