@import url('https://fonts.googleapis.com/css?family=Stylish');

$primary: 'Stylish', sans-serif;

$light-grey: #F4F0F1;
$mid-grey: #a7b8ba;
$dark-grey: #29292b;
$light-green: #ccdccd;
$mid-blue: #85bdbf;
$magic-red: #c8371b;

@mixin btn-rules {
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 800;
  height: 30px;
  &:hover {
    background-color: dodgerblue;
    cursor: pointer;
  }
}
